.left{
  text-align: left;
}
.right{
  text-align:right ;
}
.center{
  text-align: center ;
}
#headerPage {
  background: $gris01;
  width: 100%;
  height: 110px;
}

#footerPage {
  background: $gris01;
  width: 100%;
  height: 373px;
}

#general {
  background: $blanco;
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}

section {
  padding: 5rem 0;
  position: relative;
  width:100%;

  @include desktop {
    padding: 5rem 0rem;
  }
}

hr {
  border-top: 1px solid $gris02;
  margin:0 0 2rem 0;
}
.row {
  padding: 0 1.5rem;
  margin: 0;

  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    width:100%;
  }

}

.flexContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  padding:0;

  &.alignCenter {
    align-items: center;
  }

  &.flexStartEnd {
    justify-content: flex-end;
  }

  > .colum {
    padding-right: 1rem;
    padding-left: 1rem;

    &.last {
      padding-right:0;
    }
    &.first {
      padding-left:0;
    }
  }

  &.flex1 {
    justify-content: space-around;

    > .colum {
      width: 100%;

      @include desktop {
        width: 80%;
        max-width:82rem;
        padding-right: 0;
        padding-left: 0;
      }
    }

    &.little {
      > .colum {
        @include desktop {
          width: 50%;
          max-width:43rem;
        }

      }
    }
  }

  &.flex2 {

    > .colum {
      width: 100%;

      @include desktop {
        width: 50%;

        &:nth-child(1),
        &:nth-child(2n+1){
          padding-left: 0;
        }
        &:nth-child(2){
          padding-right: 0;
        }

        &.little {
          width:33%;
        }
        &.big {
          width:66%;
        }

      }
    }
  }

  &.flex3 {

    > .colum {

      width: 100%;

      @include desktop {
        width: 33%;

        &:nth-child(1) {
          padding-left: 0;
        }
        &:nth-child(3){
          padding-right: 0;
        }

        &.little {
          width:25%;
        }

        &.big {
          width: 66%;
        }

        &.big02 {
          width: 41%;
        }
      }
    }
  }

  &.flex4 {

    > .colum {

      width: 100%;

      @include desktop {
        width: 25%;

        &:nth-child(1) {
          padding-left: 0;
        }
        &:nth-child(4),
        &.superBig + .colum {
          padding-right: 0;
        }

        &.big {
          width: 50%;
        }
        &.superBig {
          width: 75%;
        }
      }
    }
  }
}

.columSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  display: inline-table;
}

