//Colores
$azul01  : #0A4E92; /* Azul oscuro */
$azul02  : #9ac7f4; /* Azul claro */
$brand   : #0055B2;
$blanco  : #ffffff;
$gris01  : #74767B; /*Gris oscuro*/
$gris02  : #E4E4E4; /*Gris claro*/
$gris03  : #F8F8F8; /*Gris muy claro*/
$gris05  : #f2f2f2;
$grisHover: #f8f8f8;
$gris04  : #CCCCCC;
$negro01 : #333333;
$verde01 : #2BC25E;
$verde02 : #008c2e;
$rojo01  : #CC0000; /* Rojo oscuro */
$rojo02  : #f9b1b1; /* Rojo claro */
$amarillo01: #FDB900;
$naranja : #FD8300;


//Variables Mixins
$texto-base: 10px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1025px;
$desktop-big: 1600px;
