@media print {
  body{
  	*{
  		display: none;
  	  	position: static !important;
  	  	box-shadow: none !important;
  	  	border-radius: 0 !important;
  	  	font-size: 14px !important;
  	  	line-height: 1 !important;

  	}
    .headerModal{
      display: none !important;
    }
  	.cdk-overlay-container{
 	    display: block; 
 	    max-width: initial;	  
  		* {
  			padding: 0;
  	  	    display: block;
  	  	    width:auto;
  	  	    height: auto;
  	  	}
  	  	.cdk-overlay-dark-backdrop{
  	  		background: transparent; 
  	  	}
  	  	.cdk-global-overlay-wrapper .cdk-overlay-pane{
  	  		margin-top: 0;
  	  		height: auto;
  	  	}
  	}
  }
}
