
<div class="mod-data disabled">
  <h2>Unidad familiar</h2>

  <div class="mod-border">
    <article class="row flexContent flex2">

      <div class="colum">
        <h4>Pareja</h4>
      </div>
      <div class="colum">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Añadir</a>
      </div>

      <div class="colum">
        <p>No indicado</p>
      </div>

    </article>

    <article class="row flexContent flex2">

      <div class="colum">
        <h4>Hijos:</h4>
      </div>
      <div class="colum">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Añadir</a>
      </div>

      <div class="colum">
        <p>No indicado</p>
      </div>

    </article>

  </div>

</div>