//Colores
$azul01  : #0A4E92; /* Azul oscuro */
$azul02  : #9ac7f4; /* Azul claro */
$blanco  : #ffffff;
$gris01  : #74767B; /*Gris oscuro*/
$gris02  : #E4E4E4; /*Gris claro*/
$negro01 : #333333;
$verde01 : #2BC25E;
$verde02 : #008c2e;
$rojo01  : #CC0000; /* Rojo oscuro */
$rojo02  : #f9b1b1; /* Rojo claro */


//Variables Mixins
$texto-base: 10px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1025px;
$desktop-big: 1600px;
