<section>

  <article class="row">
    <h1>Bienvenido</h1>
  </article>

  <article class="row flexContent flex1 little">

    <div class="colum">
      <div class="mod-border">

        <p>Déjanos tu correo electrónico para que podamos localizarte en condiciones.</p>

        <form [formGroup]="stateForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="formrow">
            <input type="email" name="email" id="email" formControlName="email"/>
            <label for="email"  [ngClass]="{'top': stateForm.value.email}">Email *</label>
          </div>

          <div class="formrow formButton">
            <button type="submit" [disabled]="!stateForm.valid" class="bigButton">
              <span *ngIf="!sending">Continuar</span>
              <span *ngIf="sending">Un momento <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
            </button>
          </div>

        </form>

      </div>
    </div>

  </article>

</section>
