
<div class="mod-data">
  <h2>Datos personales</h2>

  <div class="mod-border">
    <article class="row flexContent flex4">

      <div class="colum superBig">
        <h4>James McNulty</h4>
        <p>620 198 498</p>
        <p>516879180K</p>
        <p><i class="fa fa-birthday-cake" aria-hidden="true"></i> 01 / 10 / 1983</p>
      </div>
      <div class="colum little textRight">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Modificar</a>
      </div>

    </article>

  </div>

</div>