<section>

  <article class="row">
    <h1>Un momento...</h1>
  </article>

  <article class="row flexContent flex1 little">

    <div class="colum">
      <div class="mod-border">

        <p>¿Hace poco realizaste un registro con nosotros? Si es así revisa tu bandeja de entrada porque necesitamso que pulses en el enlace incluído en ese correo.</p>
        <p>Si no encuentras el correo, por la razón que sea, podemos enviar uno nuevo ahora mismo.</p>
        <a routerLink="/" title="Enviar de nuevo" class="btnGreen">Enviar de nuevo</a>

      </div>
    </div>

  </article>

</section>
