
<div class="mod-data directions">
  <h2>Direcciones de envío</h2>

  <div class="mod-border">

    <h4>Casa</h4>

    <article class="row flexContent flex4">

      <div class="colum superBig">
        <p>Avda. de la Bodeguillas SN. Portal 2. Bloque C. Piso 4</p>
        <p>28075, Madrid (La Bodeguilla)</p>
      </div>
      <div class="colum textRight">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Modificar</a>
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar&nbsp;&nbsp;</a>
      </div>

    </article>

    <p class="hightLight"><i class="fa fa-star" aria-hidden="true"></i> Marcada como opción favorita</p>

  </div>

  <div class="mod-border last">
    <a routerLink="/acceso/datos-personales" title="añadir otra dirección"><i class="fa fa-plus" aria-hidden="true"></i> Añadir otra dirección</a>
  </div>

  </div>