
<div class="mod-data">
  <h2>Datos de acceso</h2>

  <div class="mod-border">
    <article class="row flexContent flex2">

      <div class="colum little">
        <h4>Email:</h4>
      </div>
      <div class="colum">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Modificar</a>
      </div>

      <div class="colum">
        <p>flying_peanut@gmail.com</p>
      </div>

    </article>

    <article class="row flexContent flex2">

      <div class="colum little">
        <h4>Contraseña:</h4>
      </div>
      <div class="colum">
        <a routerLink="/acceso/datos-personales" title="modificar datos personales"><i class="fa fa-pencil" aria-hidden="true"></i> Modificar</a>
      </div>

      <div class="colum">
        <p>******</p>
      </div>

    </article>

  </div>

</div>