<aside class="row">
  <nav id="menu-private-area">
    <ul class="list">

      <li *ngFor="let firstLevel of this.menuData">

        <span (click)="seeBlock(firstLevel.path)">
          {{firstLevel.name}}
          <i class="fa fa-caret-down" [ngClass]="{'fa-caret-right': blockState === firstLevel.path || openBlock === firstLevel.path}" *ngIf="firstLevel.submenu" aria-hidden="true"></i>
        </span>

        <ul *ngIf="firstLevel.submenu" [ngClass]="{'show' : blockState === firstLevel.path || openBlock === firstLevel.path}">

          <li *ngFor="let secondLevel of firstLevel.submenu">
            <a [ngClass]="{'selected': currentState === secondLevel.path}" routerLink="{{secondLevel.path}}">
              {{secondLevel.name}}
            </a>
          </li>

        </ul>

      </li>

    </ul>

  </nav>
</aside>
