<section>

  <article class="row">
    <h1>Ya casi estamos...</h1>
  </article>

  <article class="row flexContent flex1 little">

    <div class="colum">
      <div class="mod-border">
        <h2>¡Genial {{this._clientModel.name}}!</h2>
        <p>Por aquí ya hemos terminado.</p>
        <p>Te hemos enviado un correo a la dirección de email que nos has facilitado. En él encontrarás un enlace seguro que necesitamos que pulses para validar que todo está en su sitio. Una vez hayas hecho esto puedes empezar a disfrutar de todas las ventajas del Club Carrefour</p>
        <p>Si no lo recibes en los próximos minutos revisa la carpeta de spam de tu cliente de correo, quizá se haya traspapelado.</p>
        <a routerLink="/" title="Enviar de nuevo" class="btnGreen">Enviar de nuevo</a>

      </div>
    </div>

  </article>

</section>
