<section>

  <article class="row">
    <h1>Recordar contraseña</h1>
  </article>

  <article class="row flexContent flex1 little">

    <div class="colum">
      <div class="mod-border">

        <p>¿Olvidaste tu contraseña? Sólo necesitamos que nos dejes tu correo electrónico para echarte un cable.</p>

        <modAvisos *ngIf="infoShow"
                   [tipoAviso]='infoClass'
                   [textoAviso]='infoText'>
        </modAvisos>

        <form [formGroup]="stateForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="formrow">
            <input type="email" name="email" formControlName="email" id="email"/>
            <label for="email" [ngClass]="{'top': stateForm.value.email}">Email *</label>
          </div>

          <div class="formrow formButton">
            <button type="submit" [disabled]="!stateForm.valid" class="bigButton">
              <span *ngIf="!sending">Continuar</span>
              <span *ngIf="sending">Un momento <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
            </button>
          </div>

          <div class="formrow">
            <a routerLink="/" title="Cancelar"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Cancelar</a>
          </div>

        </form>

      </div>
    </div>

  </article>

</section>
